
<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-12 ">
      <div class="col-sm-12 busqueda">
        <!--inicio tabs-->
        <div id="content">
          <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
              <li class="active"><a href="#red" data-toggle="tab">Discotecas</a></li>
              <li><a href="#orange" data-toggle="tab">Bares</a></li>
              <li><a href="#yellow" data-toggle="tab">Peñas</a></li>
              <li><a href="#green" data-toggle="tab">Karaoke</a></li>
          </ul>
          <div id="my-tab-content" class="tab-content">
              <div class="tab-pane active" id="red">
                <div>
                  <form>
                    <div class="form-group">
                      <br>
                      <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6 text-right">
                          <div class="btn-group" data-toggle="buttons-checkbox">
                            <button type="button" class="btn btn-default">Por Zona</button>
                            <button type="button" class="btn btn-default">Por Nombre</button>
                            <button type="button" class="btn btn-default active">Por Música</button>
                          </div>
                        </div>
                      </div><br>
                      <div class="row">
                        <!--<div class="col-sm-12">-->
                          <div class="col-sm-4">
                            <input type="text" class="form-control" id="fecha" placeholder="Busqueda por nombre">
                          </div>
                          <div class="col-sm-3">
                            <input type="password" class="form-control" id="fecha" placeholder="Fecha">
                          </div>
                          <div class="col-sm-2">
                            <button type="text" class="btn btn-primary">Buscar</button>
                          </div>
                        </div>
                      <!--</div>-->
                    </div>
                </div>
              </div>
              <div class="tab-pane" id="orange">
                  <h1>Orange</h1>
                  <p>orange orange orange orange orange</p>
              </div>
              <div class="tab-pane" id="yellow">
                  <h1>Yellow</h1>
                  <p>yellow yellow yellow yellow yellow</p>
              </div>
              <div class="tab-pane" id="green">
                  <h1>Green</h1>
                  <p>green green green green green</p>
              </div>
          </div>
        </div>
        <!--fin tabs-->
      </div>
    </div>
  </div>
</div>
<!--contenido-->
<div class="row">
    <div class="col-sm-12">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="space even-content text-center">
                <div><h4>Titulo 1</h4></div>
                <div>
                    <%= image_tag("discomusica.jpg", :alt => "rss feed", :height =>100, :width => 150, :class =>"") %>
                </div><br>
                <button type="submit" class="btn btn-default text-center">Ver</button>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="space even-content text-center">
                <div><h4>Titulo 1</h4></div>
                <div>
                    <%= image_tag("discomusica.jpg", :alt => "rss feed", :height =>100, :width => 150, :class =>"") %>
                </div><br>
                <button type="submit" class="btn btn-default">Ver</button>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="space even-content text-center">
                <div><h4>Titulo 1</h4></div>
                <div>
                    <%= image_tag("discomusica.jpg", :alt => "rss feed", :height =>100, :width => 150, :class =>"") %>
                </div><br>
                <button type="submit" class="btn btn-default">Ver</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="space even-content text-center">
                <div><h4>Titulo 1</h4></div>
                <div>
                    <%= image_tag("discomusica.jpg", :alt => "rss feed", :height =>100, :width => 150, :class =>"") %>
                </div><br>
                <button type="submit" class="btn btn-default">Ver</button>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="space even-content text-center">
                <div><h4>Titulo 1</h4></div>
                <div>
                    <%= image_tag("discomusica.jpg", :alt => "rss feed", :height =>100, :width => 150, :class =>"") %>
                </div><br>
                <button type="submit" class="btn btn-default">Ver</button>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="space even-content text-center">
                <div><h4>Titulo 1</h4></div>
                <div>
                    <%= image_tag("discomusica.jpg", :alt => "rss feed", :height =>100, :width => 150, :class =>"") %>
                </div><br>
                <button type="submit" class="btn btn-default">Ver</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="space even-content text-center">
                <div><h4>Titulo 1</h4></div>
                <div>
                    <%= image_tag("discomusica.jpg", :alt => "rss feed", :height =>100, :width => 150, :class =>"") %>
                </div><br>
                <button type="submit" class="btn btn-default">Ver</button>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="space even-content text-center">
                <div><h4>Titulo 1</h4></div>
                <div>
                    <%= image_tag("discomusica.jpg", :alt => "rss feed", :height =>100, :width => 150, :class =>"") %>
                </div><br>
                <button type="submit" class="btn btn-default">Ver</button>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="space even-content text-center">
                <div><h4>Titulo 1</h4></div>
                <div>
                    <%= image_tag("discomusica.jpg", :alt => "rss feed", :height =>100, :width => 150, :class =>"") %>
                </div><br>
                <button type="submit" class="btn btn-default">Ver</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="space even-content text-center">
                <div><h4>Titulo 1</h4></div>
                <div>
                    <%= image_tag("discomusica.jpg", :alt => "rss feed", :height =>100, :width => 150, :class =>"") %>
                </div><br>
                <button type="submit" class="btn btn-default">Ver</button>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="space even-content text-center">
                <div><h4>Titulo 1</h4></div>
                <div>
                    <%= image_tag("discomusica.jpg", :alt => "rss feed", :height =>100, :width => 150, :class =>"") %>
                </div><br>
                <button type="submit" class="btn btn-default">Ver</button>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="space even-content text-center">
                <div><h4>Titulo 1</h4></div>
                <div>
                    <%= image_tag("discomusica.jpg", :alt => "rss feed", :height =>100, :width => 150, :class =>"") %>
                </div><br>
                <button type="submit" class="btn btn-success">Ver</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--publicidad-->
      <div class="col-sm-3">
        <div class="publicidad space">
          <h4>Publicidad</h4>
          <div class="row space">
            <div class="col-sm-12">
              <div class="col-sm-12 content-publicidad">
                  <h6>American Sniper´ rompe récord de taquilla</h6>
                  <div>La película sobre el francotirador Chris Kyle "American Sniper" dominó la taquilla de EE.UU. por tercer fin de semana consecutivo</div>
              </div>
            </div>
          </div>
          <div class="row space">
            <div class="col-sm-12">
              <div class="col-sm-12 content-publicidad">
                  <h6>American Sniper´ rompe récord de taquilla</h6>
                  <div>La película sobre el francotirador Chris Kyle "American Sniper" dominó la taquilla de EE.UU. por tercer fin de semana consecutivo</div>
              </div>
            </div>
          </div>
          <div class="row space">
            <div class="col-sm-12">
              <div class="col-sm-12 content-publicidad">
                 <h6>American Sniper´ rompe récord de taquilla</h6>
                 <div>La película sobre el francotirador Chris Kyle "American Sniper" dominó la taquilla de EE.UU. por tercer fin de semana consecutivo</div>
              </div>
            </div>
          </div>
          <div class="row space">
            <div class="col-sm-12 content-publicidad">
              <div class="col-sm-12">
                 <h6>American Sniper´ rompe récord de taquilla</h6>
                 <div>La película sobre el francotirador Chris Kyle "American Sniper" dominó la taquilla de EE.UU. por tercer fin de semana consecutivo</div>
              </div>
            </div>
          </div>
          <div class="row space">
            <div class="col-sm-12">
              <div class="col-sm-12 content-publicidad">
                  <h6>American Sniper´ rompe récord de taquilla</h6>
                  <div>La película sobre el francotirador Chris Kyle "American Sniper" dominó la taquilla de EE.UU. por tercer fin de semana consecutivo</div>
              </div>
            </div>
          </div>
          <div class="row space">
            <div class="col-sm-12">
              <div class="col-sm-12 content-publicidad">
                  <h6>American Sniper´ rompe récord de taquilla</h6>
                  <div>La película sobre el francotirador Chris Kyle "American Sniper" dominó la taquilla de EE.UU. por tercer fin de semana consecutivo</div>
              </div>
            </div>
          </div>
          <div class="row space">
            <div class="col-sm-12">
              <div class="col-sm-12 content-publicidad">
                  <h6>American Sniper´ rompe récord de taquilla</h6>
                  <div>La película sobre el francotirador Chris Kyle "American Sniper" dominó la taquilla de EE.UU. por tercer fin de semana consecutivo</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
  /*$(function () {
    $('#datetimepicker1').datetimepicker();
  });*/
</script>



